.wrapper1{
  width: 600px;
  margin: 0px auto;
  
  /*border: 2px solid red;*/
  /*display: inline;*/
}
.wrapper2{
  width: 600px;
  margin: 0px auto;
  /*border: 2px solid red;*/
  /*display: inline;*/
}
